/* ------- Main Style -------- */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.container{
    width: 870px;
    background-color: white;
    /* padding-top: 33px; */
    padding-bottom: 40px;
    padding-left: 30px;
    margin-top: 21px;
    border-radius: 5px;
}


/* -------Top Player Style------- */


.title-section {
    font-family: 24px;
    color: #562EFF;
    margin-top: 33px;
    margin-left: 33px;
    margin-bottom: 40px;
    font-weight: 700px;
}

.top-player{
    padding-bottom: 21px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 29px;
}

.player{
    display: flex; 
    margin-left: 30px; 
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    font-size: 16px;
    /* padding-left: 16px; */
    margin-left: 16px;
}

.player-name:hover{
    background-color:#562EFF;
    border: 0px solid #562EFF;
    border-radius: 10px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 10px;
}

/*------ Horizontal Style -------*/

hr{
    width: 807px;
    height: 1px;
    background-color: #D1D1D1;
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}


/*------- Top Blog Style --------*/

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.blog{
    display: flex;
    margin-bottom: 26px;
    margin-left: 30px;
    margin-right: 30px;
}

.blog img{
    width: 177px;
}

.blog-info{
    margin: 0 auto 0 16px;
}

.blog h3{
    font-size: 20px;
    font-weight: 700px;
}

.blog p{
    font-size: 16px;
    color: #9F9F9F;

}

.blog a{
    text-decoration: none;
    color: #562EFF;
}



/* -----Latest Course -----*/

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 11px;
}

.course{
    width: 256px;
    height: 270px;
}

.course img{
    width: 224px;
    height: 104;
    margin-left: 11px;
}

.course h3{
    width: 194px;
    font-size: 17px;
    font-weight: 700px;
}

.course a{
    text-decoration: none;
}